          <%-  include("partials/header")  %>
			
			<div class="container">

				<div class="row">

				    <%games.forEach((game)=>{%>
					 <div class="card m-3 ">
			         <a href="/games/<%=game._id%>" >

				     <img  class=" card-img card-img-top " src="<%= game.image%>" alt=" this is game image ">
						 </a>
					 <h3 class="card-title mt-3"><%= game.title %></h3>
					 <p class="card-text mb-3 mx-3"><%=game.description%></p>
					</div>
				     <%}) %>
				</div>
</div>
			 
			<%- include("partials/footer")  %>

			
		